extends ./_template

block vars
  - var title = "TROP ICSU – Lesson Plans"

block body
  +hero('Lesson Plans', 'library')
  .container
    .row(style="align-items: flex-start")
      .filters
        .filter-category Grade
        for x in ['High school', 'Undergraduate']
          label.filter-option
            input(type="checkbox" value=x data-category="grade")
            | #{x}
        .filter-category Discipline
        for x in ['Biological Sciences', 'Chemistry', 'Earth Sciences', 'Economics', 'Environmental Sciences', 'Geography', 'Humanities', 'Mathematics and Statistics', 'Physics', 'Social Sciences']
          label.filter-option
            input(type="checkbox" value=x data-category="discipline")
            | #{x}

      .grow.lesson-plan-list
        for course in courses
          a.lesson-plan.filterable(href="/lesson/" + course.id + '/overview' style="background: #" + course.color data-filter=(course.discipline + course.grade))
            .lesson-plan-img(style="background-image: url(/resources/" + course.id + "/hero.jpg)")
            h2= course.title
            p= course.description
            p #{course.grade} &nbsp;•&nbsp; #{course.time}

  +footer()
  script(src='/polyfill.min.js')
  script(src="/tropicsu.js?v=2")
