extends ./_template

block vars
  - var title = "TROP ICSU – Teaching Tools"

block body
  +hero('Teaching Tools', 'teacher')
  .container
    .row(style="align-items: flex-start")
      .filters
        .filter-category Discipline
        for x in ['Biology', 'Chemistry', 'Cognitive Psychology', 'Earth Sciences', 'Economics', 'Environmental Sciences', 'Geography', 'Humanities', 'Mathematics', 'Neuroscience', 'Physics', 'Social Sciences']
          label.filter-option
            input(type="checkbox" value=x data-category="discipline")
            | #{x}
        .filter-category Type
        for x in ['Audio', 'Classroom Activity', 'Interactive Visualization', 'Laboratory Activity', 'Model/Simulator', 'Online Course', 'Reading', 'Teaching Module', 'Video']
          label.filter-option
            input(type="checkbox" value=x data-category="type")
            | #{x}
        .filter-category Grade
        for x in ['High school', 'Undergraduate']
          label.filter-option
            input(type="checkbox" value=x data-category="grade")
            | #{x}

      .grow.tools-list
        for t in tools
          a.filterable(href="/tool/" + t.id style=`background-color: ${t.color}` data-filter=(t.type + t.discipline + t.grade))
            .thumbnail(style=`background-image: url(/tool/images/${t.img})`)
            h2= t.title
            .meta= t.type

  +footer()
  script(src='/polyfill.min.js')
  script(src="/tropicsu.js?v=2")
