extends ./_template

mixin course(course)
  a.lesson-plan(href="/course/" + course.id style="background: #" + course.color)
    .lesson-plan-img(style="background-image: url(/resources/" + course.id + "/hero.jpg)")
    h2= course.title
    p= course.description
    p #{course.grade} &nbsp;•&nbsp; #{course.time}

block vars
  - var title = "TROP ICSU Teaching Tools"

block body
  .hero
    .hero-img(style="background-image: url(/images/hero.jpg)")
    .hero-shadow
    .container: .hero-title
      h1
        +icon('teacher', 64)
        | Teaching Tools

  .container
    .row(style="align-items: flex-start")
      .filters
        .filter-category Discipline
        for x in ['Biology', 'Chemistry', 'Cognitive Psychology', 'Earth Sciences', 'Economics', 'Environmental Sciences', 'Geography', 'Humanities', 'Mathematics', 'Neuroscience', 'Physics', 'Social Sciences']
          label.filter-option
            input(type="checkbox" value=x data-category="discipline")
            | #{x}
        .filter-category Type
        for x in ['Audio', 'Classroom Activity', 'Interactive Visualization', 'Laboratory Activity', 'Model/Simulator', 'Online Course', 'Reading', 'Teaching Module', 'Video']
          label.filter-option
            input(type="checkbox" value=x data-category="type")
            | #{x}

      .grow.tools-list
        for t in tools
          a.filterable(href="/tool/" + t.id style=`background-color: ${t.color}` data-filter=(t.type + t.discipline))
            .thumbnail(style=`background-image: url(/tool/images/${t.img})`)
            h2= t.title
            .meta= t.type

  +footer()
  script(src='/polyfill.min.js')
  script(src="/tropicsu.js")
